.health{
  padding: 240px 0;
  background-image: url(../../images/health-bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.health__info{
  margin-left: auto;
  width: 490px;
}

.health__title{
  color: #FFFFFF;
}

.health__text{
  color: #fff;
}