.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header__logo{
  width: 35px;
  height: 42px;
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list{
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item + .nav__item{
  margin-left: 30px;
}

.nav__link{
  padding: 6px 0;
  text-decoration: none;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #333333;
  opacity: 0.8;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
  &:hover{
    color: #000;
    border-bottom: 2px solid #000;
    opacity: 1;
  }
}

.header__inner-help{
  margin-left: 40px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #333333;
  &:focus{
    outline: none;
    border-bottom: 2px solid #000;
  }
}


.header__inner-help::placeholder{
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #666666;
}
